<!DOCTYPE html>
<html>
  <head>
    <title><%= Services %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Services %></h1>
    <p>Welcome to <%= Services %></p>
  </body>
</html>